<div class="dropdown">

  <button
    class="btn btn-outline-light dropdown-toggle"
    type="button"
    id="dropdownUserButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    User
  </button>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserButton">
    <div class="dropdown-item-text fw-semibold text-dark border-bottom mb-3">
      {{ email }}
    </div>
    <li><a class="dropdown-item" [routerLink]="['']">Profile</a></li> <!--todo: add proper navigation-->
    <li><a class="dropdown-item logout-btn" (click)="logout()">Logout</a></li>
  </ul>

</div>
