<form class="container" [formGroup]="planForm" (ngSubmit)="onSave()">

  <div *ngIf="editMode" class="text-end">
    <button
      class="btn btn-outline-light"
      [disabled]="planForm.invalid"
    >
      save
    </button>
  </div>

  <div
    *ngIf="!editMode; else editName"
    class="d-flex justify-content-center"
  >
    <p class="header mb-5">{{ planForm.get('name')?.value }}</p>
  </div>

  <ng-template #editName>
    <br>
    <div class="mt-5">
      <strong>name</strong>
      <input
        [ngClass]="{ 'invalid-border': planForm.get('name')?.invalid && planForm.get('name')?.touched }"
        class="input-group-text w-100 w mt-1"
        formControlName="name"
      >
      <div
        class="text-danger mt-1"
        *ngIf="planForm.get('name')?.invalid && planForm.get('name')?.touched"
      >
        Field name s required!.
      </div>
    </div>

  </ng-template>

<div *ngIf="!editMode" class="text-end">
  <button
    class="btn btn-outline-light"
    type="button"
    (click)="editMode = true"
  >
    edit
  </button>
</div>

  <p class="h3 mt-2 mt-md-5">details</p>

  <div class="row mt-1 mx-1 base">

    <div class="col-12 me-3 col-sm-5 mx-lg-0 col-lg-2">
      <strong>category</strong>

      <select *ngIf="editMode; else readCategory"
        class="input-group-text w-100 mt-1"
        [disabled]="!editMode"
        formControlName="category"
      >
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>

      <ng-template #readCategory>
        <input class="input-group-text w-100 mt-1"
               [disabled]="true"
               [value]="planForm.get('category')?.value"
        >
      </ng-template>
    </div>

    <div class="col-12 col-sm-5 sm-mx-4 col-lg-2 mx-lg-4">
      <strong>difficulty level</strong>
      <select *ngIf="editMode; else readDiffLvl"
        class="input-group-text w-100 mt-1"
        [disabled]="!editMode"
        formControlName="difficultyLvl"
      >
        <option *ngFor="let lvl of difficultyLvls" [value]="lvl">
          {{ lvl.toLowerCase() }}
        </option>
      </select>

      <ng-template #readDiffLvl>
        <input class="input-group-text w-100 mt-1"
               [disabled]="true"
               [value]="planForm.get('difficultyLvl')?.value"
        >
      </ng-template>
    </div>

    <div class="col-12 mt-3 col-lg-7 mt-lg-0">
      <strong>goal</strong>
      <input
        class="input-group-text w-100 mt-1"
        [readonly]="!editMode"
        formControlName="goal"
      >
    </div>

    <div class="col-12 mt-4">
      <strong>description</strong>
      <textarea autosize
                class="input-group-text w-100 mt-1 pt-4"
                [readonly]="!editMode"
                formControlName="description"
      ></textarea>
    </div>

  </div>

  <br>

  <div *ngIf="plan?.blocks && plan?.blocks!.length > 0">
    <app-blocks
      [blocks]="plan!.blocks"
      [editMode]="editMode"
    ></app-blocks>
  </div>

</form>
