body {
  background-color: #19192C;
  color: #ecf0f1;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  color: #eee7e7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
@media (min-width: 992px) {
  .header {
    font-size: 3rem;
    font-weight: bold;
    color: #eee7e7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
}

.base {
  background: #1a1c2d;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
  .base {
    padding: 4%;
    background: #1a1c2d;
  }
}

textarea {
  overflow-x: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

.expand-btn {
  background-color: #26283d;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.expand-btn:hover {
  background-color: #34364b;
}

.row-bar {
  background-color: white;
  color: #26273f;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.expand-item {
  background: #1d1f31;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
  .expand-item {
    padding: 4%;
  }
}

.btn-outline-light {
  color: #ffffff;
  background: #26273f;
}

.info-message {
  color: #a7dace !important;
}
