<div class="row mt-3">
  <div class="col-8">
    <p class="h3 mt-2 mt-sm-5">blocks</p>
  </div>
  <div class="col-4 text-end">
    <button
      type="button"
      class="btn btn-outline-light"
      (click)="toggleMode()"
    >
      {{editMode ? 'read mode': 'edit'}}
    </button>
  </div>
</div>



<div class="base">
  <div *ngIf="editMode" class="text-end pe-3 pb-2">
    <button
      type="button"
      class="btn btn-outline-light"
      (click)="newBlock = true"
    >
      add block
    </button>
  </div>

    <app-block
      *ngIf="newBlock"
      [createMode]="newBlock"
      [editMode]="editMode"
      (setReadMode)="setReadMode()"
      (addBlockToList)="addNewBlock($event)"
    />


  <div *ngFor="let block of blocks?? []">
    <app-block
      [block]="block"
      [editMode]="editMode"
      (setReadMode)="setReadMode()"
      (addBlockToList)="addNewBlock($event)"
      (deleteBlockFromList)="deleteBlock($event)"
    />
  </div>

  <div
    *ngIf="!blocks || blocks.length === 0"
    class="d-flex justify-content-center align-items-center mt-2"
  >
    <strong>No blocks yet.</strong>
  </div>

</div>
