<div
  class=" p-2 rounded d-flex justify-content-center align-items-center expand-btn mx-3"
  role="button"
  data-bs-toggle="collapse"
  [attr.data-bs-target]="'#exercise' + exercise.id"
  aria-expanded="false"
  [attr.aria-controls]="'#exercise' + exercise.id"
>

  <div class="flex-grow-1 text-start">
    <strong>
      {{ exercise.sequence + '.' }}
    </strong>
  </div>
  <div class="flex-grow-1 text-center">
    <strong>
      {{ exercise.name }}
    </strong>
  </div>
  <div class="flex-grow-1"></div>

</div>


<div
  class="mt-2 expand-item collapse mx-3"
  [attr.id]="'exercise' + exercise?.id"
>

  <div>
    <strong>description</strong>
    <p
      autosize
      class="input-group-text w-100 justify-content-center"
    >{{ exercise.description }}</p>
  </div>


  <br/>
  <h5 class="mx-2"><strong> sets </strong> <i class="fas fa-dumbbell"> </i></h5>
  <hr/>

  <div class="row mx-2">

    <div class="col-2 text-center">
      <strong>seq</strong>
    </div>

    <div class="col-2 text-center">
      <strong>reps</strong>
    </div>

    <div class="col-3 text-center">
      <strong>weight</strong>
    </div>

    <div class="col-3 text-center">
      <strong>tempo</strong>
    </div>

  </div>

  <div *ngFor="let set of exercise.sets">
    <div class="row row-bar mb-4 mx-2">

      <div class="col-2">
        <p
          type="number"
          class="form-control-plaintext text-center"
        >
          {{ set.sequence }}
        </p>
      </div>

      <div class="col-2">
        <p
          type="number"
          class="form-control-plaintext text-center"
        >
          {{ set.repetitions }}
        </p>
      </div>

      <div class="col-3">
        <p
          type="number"
          class="form-control-plaintext text-center"
        >
          {{ (Math.round(set.weight * scale.weightScale * 2) / 2).toFixed(1) }}
        </p>
      </div>

      <div class="col-3 pe-1">
        <p
          class="form-control-plaintext text-center"
        >
          {{ set.tempo }}
        </p>
      </div>

    </div>
  </div>
</div>
