<form
  class="container mt-3"
  [formGroup]="blockForm"
  (ngSubmit)="onSave()"
>

  <div
    class=" p-2 rounded d-flex justify-content-center align-items-center expand-btn"
    role="button"
    data-bs-toggle="collapse"
    [attr.data-bs-target]="'#block' + block?.id"
    aria-expanded="false"
    [attr.aria-controls]="'#block' + block?.id"
  >
    <strong class="justify-content-center">{{ createMode ? '*new block*' : block?.name }}</strong>
  </div>


  <div
    class="mt-2 expand-item"
    [ngClass]="{
    'collapse': !createMode,
    'show': createMode
  }"
    [attr.id]="'block' + block?.id"
  >
    <div *ngIf="editMode && !createMode" class="text-end pe-2">
      <button
        class="btn btn-danger"
        type="button"
        (click)="deleteBlock()"
      >delete</button>
    </div>

    <h5
      *ngIf="message"
      class="info-message text-center"
    >
      {{message}}
    </h5>
    <div class="row mt-1 mx-1">

      <div
        *ngIf="editMode"
        class="col-12 mb-3">
        <strong>name</strong>
        <input
          class="input-group-text w-100 mt-1"
          [ngClass]="blockForm.get('name')?.touched && blockForm.get('name')?.invalid ? 'is-invalid' : ''"
          [readOnly]="!editMode"
          formControlName="name"
        >
        <div *ngIf="blockForm.get('name')?.touched && blockForm.get('name')?.invalid" class="error-message">
          Name is required.
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <strong>begin date</strong>
        <input
          [type]="editMode ? 'date' : ''"
          class="input-group-text w-100 mt-1"
          [ngClass]="blockForm.get('start')?.invalid ? 'is-invalid' : ''"
          [readOnly]="!editMode"
          formControlName="start"
        >

        <div *ngIf="blockForm.errors?.['endDateAfterStartDate'] " class="error-message">
          start date must be earlier than end date.
        </div>
        <div *ngIf=" blockForm.get('start')?.touched && blockForm.get('start')?.errors?.['startDateAfterTraining'] " class="error-message">
          Begin date after it s trainings date
        </div>

      </div>


      <div class="col-12 col-sm-4 mx-lg-4">
        <strong>end date</strong>
        <input
          [type]="editMode ? 'date' : ''"
          class="input-group-text w-100 mt-1"
          [ngClass]="blockForm.get('end')?.invalid ? 'is-invalid' : ''"
          [readOnly]="!editMode"
          formControlName="end"
        >

        <div *ngIf="blockForm.errors?.['endDateAfterStartDate'] " class="error-message">
          End date must be later than start date.
        </div>
        <div *ngIf="blockForm.get('end')?.touched && blockForm.get('end')?.errors?.['endDateBeforeTraining']" class="error-message">
          Cannot set end date before it s trainings date
        </div>

      </div>

      <div class="col-12 col-sm-3 ms-sm-3 col-lg-2 mx-lg-4 ">
        <strong>weeks</strong>
        <input
          class="input-group-text w-100 mt-1"
          [disabled]="true"
          [value]="calculateWeeks(this.blockForm.get('start')?.value, this.blockForm.get('end')?.value)"
        >
      </div>

      <div class="col-12 mt-4">
        <strong>description</strong>
        <textarea autosize
                  class="input-group-text w-100 mt-1 pt-4"
                  [readOnly]="!editMode"
                  formControlName="description"
        ></textarea>
      </div>

      <div *ngIf="editMode"
        class="text-end">
        <br/>
        <button
          [disabled]="blockForm.invalid"
        class="btn btn-outline-light"
        >
          save
        </button>
      </div>
    </div>

    <br>

    <div >

      <h5 class="mx-2"><strong> trainings </strong> <i class="fas fa-dumbbell"> </i></h5>
      <hr>

      <div *ngIf="!editMode; else addTraining">
        <p
          class="text-end mx-3"
          *ngIf=" block?.trainings && block!.trainings!.length > 0"
        ><strong>completion:</strong> {{calculateTrainingsCompletion() | number:'1.0-2'}}%</p>
      </div>
      <ng-template #addTraining>
        <div  class="text-end p-3">
          <button
            *ngIf="!createMode"
            type="button"
            class="btn btn-outline-light"
            [routerLink]="['blocks', block?.id, 'trainings', 'new']"
          >
            add training
          </button>
        </div>
      </ng-template>

      <div *ngIf="block!.trainings && block!.trainings!.length > 0">
        <div class="row mx-2">
          <div class="col-4 col-sm-3">
            <strong>date</strong>
          </div>
          <div class="col-5 col-sm-4">
            <strong>name</strong>
          </div>
          <div class="col-2 col-sm-3">
            <strong>done</strong>
          </div>
        </div>


        <div *ngFor="let training of block?.trainings">
          <div class="row row-bar mb-4 mx-2">

            <div class="col-4 col-sm-3">
              <strong>{{ training.date | date }}</strong>
            </div>

            <div class="col-5 col-sm-4">
              <strong>{{ training.name }}</strong>
            </div>

            <div class="col-2 col-sm-1 ps-4">
              <strong>{{ training.done ? '✓' : '✗' }}</strong>
            </div>

            <div class="col-12 mt-2  col-sm-4 mt-sm-0 d-flex justify-content-end gap-3">

                <div *ngIf="!editMode">
                  <button
                    type="button"
                    class="btn btn-outline-light"
                    [ngClass]="{
                      'execution-create-btn': training.executionId == null,
                      'execution-finished-btn': training.executionId != null && training.done,
                      'execution-started-btn': training.executionId != null && !training.done
                              }"
                    (click)="onExecution(training)"
                  >
                    {{ training.executionId == null ? 'create execution' : 'execution' }}
                  </button>
                </div>
                <div *ngIf="!editMode">
                  <button
                    type="button"
                    class="btn btn-outline-light details-btn"
                    [routerLink]="['blocks', block!.id, 'trainings', training.id]"
                  >
                    details
                  </button>
                </div>

                <div *ngIf="editMode">
                  <button
                    type="button"
                    class="btn btn-outline-light execution-finished-btn"
                    [routerLink]="['blocks', block!.id, 'trainings', training.id]" [queryParams]="{ edit: true }"
                  >edit</button>
                </div>
                <div *ngIf="editMode">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteTraining(training.id)"
                  >
                    delete
                  </button>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
