<div class="container">

  <div class="row">

    <div class="col-3">
      <button
        (click)="backToPlan()"
        class="btn btn-secondary"
      >
        <i class="fas fa-chevron-left"></i> plan
      </button>
    </div>

    <div class="col-6 d-flex justify-content-center">
      <p class="header mb">{{ training.name }}</p>
    </div>

    <div class="col-3 text-end">
      <button class="btn btn-secondary">edit</button>
    </div>

  </div>

  <div class="text-end">
    <button
      [disabled]="!training.executionId != null"
      class="btn btn-outline-light border-2"
    >
      show execution
    </button>
  </div>


  <p class="h3 mt-3">details</p>

  <div class="row mt-1 mx-1 base">

    <div class="col-12 me-3 col-sm-5 mx-lg-0 col-lg-5">
      <strong>date</strong>
      <input
        class="input-group-text w-100 mt-1"
        [disabled]="!editMode"
        [value]="training.date | date"
      >
    </div>

    <div class="col-12 col-sm-5 sm-mx-4 col-lg-5 mx-lg-4">
      <strong>block</strong>
      <input
        class="input-group-text w-100 mt-1"
        [disabled]="true"
        [value]="training.blockName"
      >
    </div>


    <div class="col-12 mt-4">
      <strong>description</strong>
      <textarea autosize
                class="input-group-text w-100 mt-1 pt-4"
                [disabled]="!editMode"
                [(ngModel)]="training.description"
      ></textarea>
    </div>

  </div>

  <br>

  <div *ngIf="training.exercises &&training.exercises.length > 0">
    <app-exercises
      [exercises]="training.exercises"
      [editMode]="editMode"
    />
  </div>

</div>
