<form [formGroup]="trainingForm" (ngSubmit)="onSave()" class="container">

  <div class="row">

    <div class="col-3">
      <button
        (click)="backToPlan()"
        type="button"
        class="btn btn-secondary"
      >
        <i class="fas fa-chevron-left"></i> plan
      </button>
    </div>

    <div
      class="col-6 d-flex justify-content-center"
    *ngIf="!editMode"
    >
      <p class="header mb">{{ training.name }}</p>
    </div>

    <div
      *ngIf="!editMode"
      class="col-3 text-end">
      <button
        [disabled]="!training.executionId != null"
        class="btn btn-outline-light border-2 mb-4"
      >
        show execution
      </button>
    </div>

  </div>
  <div class="text-end">
    <button
      class="btn btn-outline-light"
      type="button"
      (click)="toggleMode()"
    >{{ editMode ? 'read Mode' : 'edit' }}</button>
  </div>

  <h5
    *ngIf="message"
    class="info-message text-center py-3"
  >
    {{message}}
  </h5>

  <p class="h3 mt-3">details</p>

  <div class="row mt-1 mx-1 base">
  <div
    *ngIf="editMode && !createMode"
    class="text-end"
  >
    <button
    class="btn btn-danger"
    type="button"
    (click)="deleteTraining()"
    >
      delete
    </button>
  </div>
    <div
      *ngIf="editMode"
         class="col-12 mb-3"
    >
      <strong>name</strong>
      <input
        class="input-group-text w-100 mt-1"
        formControlName="name"
      >
      <div
        *ngIf="trainingForm.get('name')?.touched && trainingForm.get('name')?.invalid"
        class="error-message pb-1"
      >
        Name is required
      </div>
    </div>

    <div class="col-12 me-3 col-sm-5 mx-lg-0 col-lg-5">
      <strong>date</strong>
      <input
        [type]="editMode ? 'date' : ''"
        class="input-group-text w-100 mt-1"
        [ngClass]="trainingForm.get('date')?.touched && trainingForm.get('date')?.invalid ? 'is-invalid' : ''"
        [readOnly]="!editMode"
        formControlName="date"
      >
      <div
        *ngIf="trainingForm.get('date')?.touched && trainingForm.get('date')?.invalid"
        class="error-message pb-1"
      > Training date must be in its block range <br/>{{ ' [' + block.start + ' - ' + block.end + ']' }}
      </div>
    </div>

    <div class="col-12 col-sm-5 sm-mx-4 col-lg-5 mx-lg-4">
      <strong>block</strong>
      <input
        class="input-group-text w-100 mt-1"
        [disabled]="true"
        [value]="block.name"
      >
    </div>


    <div class="col-12 mt-4">
      <strong>description</strong>
      <textarea autosize
                class="input-group-text w-100 mt-1 pt-4"
                [readOnly]="!editMode"
                formControlName="description"
      ></textarea>
    </div>

    <div *ngIf="editMode"
         class="text-end">
      <br/>
      <button
        [disabled]="trainingForm.invalid"
        class="btn btn-outline-light"
      >
        save
      </button>
    </div>

  </div>

  <br>

  <div *ngIf="training.exercises">
    <app-exercises
      [exercises]="training.exercises"
      [editMode]="editMode"
    />
  </div>

</form>
